
.background{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 20px;
}

/* TYPOGRAPHY */

.about-header{
    font-family: "MuseoModerno", sans-serif;
    font-size: 1.25rem;
    margin-bottom: 1.25em;  
}


.big-name, .body{
    font-family: "League Spartan", sans-serif;
    
}
.big-name.dark, .body.dark, .about-header.dark{
    color: white;
    
}

.big-name{
    font-size: 5.625rem;
}

.body{
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1.25em;
    max-width: 500px;
}

.asterisk{
    color: #3362E0;
}