.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1.25em;
    gap: 30px;
    margin-right: 1.25em;
}

.nav-link{
    font-family: "MuseoModerno", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    list-style: none;
    cursor: pointer;
    z-index: 2;
    text-decoration: none;
    color: black;

}

.nav-link-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hover-line{
    position: absolute;
    background-color: #3362E0;
    height: 5px;
    width: 0%;
    z-index: 1;
    transition: width 0.3s ease-in-out;
    transform-origin: left;
    left: 0;
    
}
.nav-link-container .nav-link:hover + .hover-line,
.nav-link-container .nav-link.active + .hover-line{
    width: 100%;
}

