.toggle-container {
    position: fixed;
    bottom: 1.25em;
    right: 1.25em; 
    display: flex;
    flex-direction: row;


}

.toggle-body{
    background-color: white;
    width: 70px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    cursor: pointer;
    border: solid 1px #D2D2D2;
}
.toggle-body.dark{
    background-color: black;
    border: solid 1px #D2D2D2;
    align-items: end;
    
}
.toggle-ball{
    background-color: #3362E0;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin: 0 5px;
}